@import "../css/kalam.css";
@import "../css/quicksand.css";
@import "../css/satoshi.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #f7c9c9;
  --scrollbar-thumb: #3e404a;
  --scrollbar-track: #e3fdfd;
  --font-family: var(--font-global);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Firefox */

* {
  scrollbar-width: thin; /* mỏng */
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track); /* thumb | track */
}

/* More specific dark mode selector */

/* CSS custom properties for dark mode */
.dark {
  --scrollbar-thumb: #3e404a;
  --scrollbar-track: #1e1e1e;
}

body {
  /* background-color: rgb(255, 255, 255); */
  margin: 0;
  padding: 0;

  overflow-x: hidden;
}
